<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
</head>
<body>
  <h1>Blog Posts</h1>
  <a href="/new">Create New Post</a>
  <ul>
    <% posts.forEach(post => { %>
      <li>
        <a href="/post/<%= post.id %>"><%= post.title %></a>
      </li>
    <% }) %>
  </ul>
</body>
</html>
